$lilghtGreen: #b9e7e7;

#root {
  margin: 0 auto;
  text-align: center;
}

.app {
  display: flex;
  justify-content: center;
  .container {
    width: 1024px;

    //LOGIN & REGISTER

    .auth {
      display: flex;
      flex-direction: column;
      font-display: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: 100vw;
      background-color: $lilghtGreen;
    }
    h1 {
      font-size: 20px;
      color: teal;
      margin-bottom: 20px;
    }
    form {
      display: flex;
      flex-direction: column;
      padding: 10px;
      background-color: white;
      gap: 20px;

      input {
        padding: 10px;
        border: none;
        border-bottom: 1px solid gray;
      }

      button {
        padding: 10px;
        border: none;
        background-color: teal;
        cursor: pointer;
        color: white;
      }
      p {
        font-size: 12px;
        color: red;
        text-align: center;
      }
      span {
        font-size: 12px;
        text-align: center;
      }
    }
  }

  //navbar
  .navbar {
    .container {
      width: 1024px;
      padding: 10px 0px;
      display: flex;
      justify-content: space-between;
      .logo {
        img {
          width: 120px;
          border-radius: 50%;
        }
      }

      .links {
        text-decoration: none;
        color: inherit;
        display: flex;
        gap: 10px;

        h6 {
          font-size: 16px;
          font-weight: 300;
        }

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          .link {
            background-color: #b9e7e7;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
  //FOOTER
  footer {
    margin-top: 100px;
    padding: 20px;
    background: $lilghtGreen;
    display: flex;
    align-items: center;
    justify-content: cener;
    font-size: 12px;

    img {
      width: 50px;
      border-radius: 50%;
    }
  }

  .home {
    .posts {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      gap: 150px;

      .post {
        display: flex;
        gap: 100px;

        .img {
          flex: 2;

          img{
            width:100%;
            max-height: 400px;
            object-fit: cover;
          };
        }
        .content {
          flex: 3;
        }
      }
    }
  }
}
