$lilghtGreen: #b9e7e7;

#root {
  margin: 0 auto;
  text-align: center;
}

.app {
  display: flex;
  justify-content: center;
  .container {
    width: 1024px;

    //LOGIN & REGISTER

    .auth {
      display: flex;
      flex-direction: column;
      font-display: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: 100vw;
      background-color: $lilghtGreen;
    }
    h1 {
      font-size: 20px;
      color: teal;
      margin-bottom: 20px;
    }
    form {
      display: flex;
      flex-direction: column;
      padding: 10px;
      background-color: white;
      gap: 20px;

      input {
        padding: 10px;
        border: none;
        border-bottom: 1px solid gray;
      }

      button {
        padding: 10px;
        border: none;
        background-color: teal;
        cursor: pointer;
        color: white;
      }
      p {
        font-size: 12px;
        color: red;
        text-align: center;
      }
      span {
        font-size: 12px;
        text-align: center;
      }
    }
  }

  //navbar
  .navbar {
    .container {
      width: 1024px;
      padding: 10px 0px;
      display: flex;
      justify-content: space-between;
      .logo {
        img {
          width: 120px;
          border-radius: 50%;
        }
      }

      .links {
        text-decoration: none;
        color: inherit;
        display: flex;
        gap: 10px;

        h6 {
          font-size: 16px;
          font-weight: 300;
        }

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          .link {
            background-color: #b9e7e7;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
  //FOOTER
  footer {
    margin-top: 100px;
    padding: 20px;
    background: $lilghtGreen;
    display: flex;
    align-items: center;
    justify-content: cener;
    font-size: 12px;

    img {
      width: 50px;
      border-radius: 50%;
    }
  }

  .home {
    .posts {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      gap: 150px;

      .post {
        display: flex;
        gap: 100px;

        &:nth-child(2n + 1) {
          flex-direction: row-reverse;
        }

        .img {
          flex: 2;
          position: relative;

          &::after {
            content: "";
            width: 100%;
            height: 100%;
            background-color: #b9e7e7;
            position: absolute;
            top: 20px;
            left: -20px;
            z-index: -1;
          }

          img {
            width: 100%;
            max-height: 400px;
            object-fit: cover;
          }
        }
        .content {
          flex: 3;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          h1 {
            font-size: 48px;
          }
          p {
            font-size: 18px;
          }
          button {
            width: max-content;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            background-color: white;
            color: teal;
            border: 1px solid teal;

            &:hover {
              background-color: $lilghtGreen;
              color: black;
            }
          }
        }
      }
    }
  }
  //single page
  .single {
    display: flex;
    gap: 50px;

    .content {
      flex: 5;
      display: flex;
      flex-direction: column;
      gap: 30px;

      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 14px;

        .update {
          display: flex;
          gap: 5px;
          img {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 1px solid teal;
            margin: 5px;
          }
        }

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
          cursor: pointer;
        }
      }
      h1 {
        font-size: 42px;
        color: #333;
      }
      p {
        text-align: justify;
        line-height: 30px;
      }
    }

  //Menu components.
    .menu {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 25px;

      h1 {
        font-size: 20px;
        color: #555;
      }

      .post {
        display: flex;
        flex-direction: column;
        gap: 10px;

        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }
        h2 {
          color: #555;
        }
        button {
          width: max-content;
          padding: 7.5px 15px;
          border: none;
          cursor: pointer;
          background-color: white;
          color: teal;
          border: 1px solid teal;

          &:hover {
            background-color: $lilghtGreen;
            color: black;
          }
        }
      }
    }
  }
  //write
  .add{
    margin-top: 20px;
    display:flex;
    gap: 20px;

    .content{
      flex:5;
      display:flex;
      flex-direction: column;
      gap:20px;

      input{
        padding: 10px;
        border: 1px solid lightgray
      }
      .editorContainer{
        height: 300px;
        overflow:scroll;
        border: 1px solid lightgray;

        .editor{
          height: 200%;
          border:none;
        }
      }
    }
    .menu{
      flex:2;
      display:flex;
      flex-direction:column;
      gap: 20px;

      .item{
        border: 1px solid lightgray;
        padding: 10px;
        flex: 1;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 12px;
        color: #555;

        h1{
          font-size: 20px;
        }
        .file{
          text-decoration: underline;
          cursor:pointer;
        }
        .buttons{
          display:flex;
          justify-content: space-between;

          :first-child{
            cursor:pointer;
            color:teal;
            background-color: white;
            border: 1px solid teal;
            padding: 3px 5px;
          }

          :last-child{
             cursor:pointer;
            color:white;
            background-color: teal;
            border: 1px solid:white;
            padding: 3px 5px;

          }

        }
      }
    }

  }


}
